/* MEDIAQUERIES */

/* Estilos para el breakpoint pequeño */
@include breakpointMinMax(300px,600px){
    .galeria {
        width: 100%;
        grid-template-columns: repeat(4, 89px);
        grid-template-rows: repeat(3, 65px);
    }

    .inicio {
        flex-direction: column;
    }
}

/* Estilos para el breakpoint mediano*/
@include breakpointMinMax(601px,900px){
    .galeria {
        width: 90%;
        margin: 0 auto;
    }
    .inicio {
        flex-direction: column;
    }
}

/* Estilos para el breakpoint grande */
@include breakpointMin(901px) {
    .galeria {
        width: 80%;
        margin: 0 auto;
    }
}