/* MEDIAQUERIES */

/* Estilos para el breakpoint pequeño */
@include breakpointMinMax(300px, 600px) {
    .galeria {
        width: 100%;
        grid-template-columns: repeat(4, 89px);
        grid-template-rows: repeat(3, 65px);
    }

    .inicio {
        flex-direction: column;
        img {
            padding-bottom: 20px;
        }
    }

/***************AUTOR******************/

    .autorContenedor{
        margin: 5px;
        width: 150px;
        flex-direction: column;
        text-align: center;
    }

    .autorInfo {
        margin: 8%;
        width: 95%;
        justify-content: center;
        flex-direction: column;
        p {
            padding: 10px;
            text-align:justify;
        }
    }

    .otrosTrabajos {
        margin: 8%;
        width: 95%;
        flex-direction: column;
        p {
            padding: 10px;
            text-align:justify;
        }        
    }

/************PERSONAJES***************/


    .cuadroPersonaje{
        flex-direction: column; 
        align-items: center;
        width: 95%;
    }

    .Personajes {
        margin: 10%;
        flex-direction: column; 
    }

    .personajes {
        margin: 10%;
        flex-direction: column; 
    }    

    .descripcionPersonajes{
        align-items: center;   
        flex-direction: column; 
        }

/************MANGA***************/


    .mangaImg {
        width: 300px;
        margin-bottom: 10px;
    }

    .mangaContenedor {
        margin: 20px;
    }

/************ANIME***************/

    .temporada {
        width: 400px;
        justify-content: center;

    }

    .anime {
        flex-direction: column;
        align-items: center;
        p {
            margin:20px;
        }
    }

    .animeImg img {
        width: 350px;
        margin-bottom: 10px;
    }
}

/* Estilos para el breakpoint mediano*/
@include breakpointMinMax(601px, 900px) {
    .galeria {
        width: 80%;
        margin: 0 auto;
        grid-template-columns: repeat(4, 102px);
        grid-template-rows: repeat(3, 73px);
    }

    .mangaImg {
        width: 20px;
        margin: 0 auto;
    }

    .inicio {
        flex-direction: column;
    }

    .autorInfo {
        flex-direction: column;
    }

    .cuadroPersonaje {
        flex-direction: column;
    }

    .mangaImg {
        width: 327px;
        margin: 0 auto;
    }


    .temporada {
        width: 550px;
        justify-content: center;

    }

    .anime {
        flex-direction: column;
        align-items: center;

    }

    .animeImg img {
        width: 400px;
        margin: 0 auto;
    }
}

/* Estilos para el breakpoint grande */
@include breakpointMin(901px) {
    .galeria {
        width: 70%;
        margin: 0 auto;
        grid-template-columns: repeat(4, 24%);
        grid-template-rows: repeat(3, 15%);
    }
}